<!DOCTYPE HTML>
{% load widget_tweaks %}
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Simple is Better Than Complex</title>
	<script type="text/javascript" src="{% static 'js/geolocation.js' %}"></script>
</head>

<body>
<br>
<div class="container w-80">
	
	<h1>Register a Patient</h1>
	<br>
	<div id="out"></div>	
	<script type="text/javascript">geoFindMe()</script>

	<form method="post" novalidate>
		{% csrf_token %}

		{% for field in DtagForm.hidden_fields %}
			{{ hidden_field }}
		{% endfor %}

		{% for field in DtagForm.visible_fields %}
			<div class="form-group">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field|add_class:'form-control' }}
				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% endfor %}

		<input type="submit" class="btn btn-primary" value="Submit Patient Data"/>
	</form>
</div>
</body>
</html>
