<script type="text/javascript">
Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
      target: document.querySelector('#scaner')    // Or '#yourElement' (optional)
    },
    decoder : {
      readers : ["code_128_reader"]
    }
  }, function(err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
});

Quagga.onDetected(data)

bcode = dockument.getElementById('bcode')
bcode.innerHTML = data.codeResult.code
</script>
<p id="bcode"></p>
<div id="scanner"></div>
<h1>Register a Patient</h1>
	<form method="post" action="">
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<table>
		{{ DtagForm }}
	</table>
	<input type="submit" value="Submit Patient Data"/>
</form>
