{% load widget_tweaks %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Simple is Better Than Complex</title>
</head>

{% block body %}

<br>

<div class="container w-80">
	<h1>Patient Information Page</h1>
</div>
<br>

<div class="container w-80">
<form>

	<div class="form-group row">
		<label for="id" class="col-sm-2 col-form-label">ID #</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" id="id" value="{{ patient.barcode_id }}">
		</div>
	</div>

	<div class="form-group row">
		<label for="fname" class="col-sm-2 col-form-label">First Name</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control" id="fname" value="{{ patient.first_name }}">
		</div>
	</div>

	<div class="form-group row">
		<label for="lname" class="col-sm-2 col-form-label">Last Name</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control" id="lname" value="{{ patient.last_name }}">
		</div>
	</div>

	<br>

	<div class="form-group row">
		<div class="col">
			<div class="form-group row">
				<label for="lat" class="col-sm-4 col-form-label">Latitude</label>
				<div class="col-sm-6">
					<input type="text" readonly id="lat" class="form-control" value="{{ patient.loc_lat }}">
				</div>
			</div>
		</div>
		<div class="col">
			<div class="form-group row">
				<label for="lon" class="col-sm-4 col-form-label">Longitude</label>
				<div class="col-sm-6">
					<input type="text" readonly id="lon" class="form-control" value="{{ patient.loc_lon }}">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col">
			<div class="form-group row">
				<label for="sev" class="col-sm-4 col-form-label">Severity</label>
				<div class="col-sm-6">
					<input type="text" readonly id="sev" class="form-control" value="{{ patient.severity }}">
				</div>
			</div>
		</div>
		<div class="col">
			<div class="form-group row">
				<label for="dtadded" class="col-sm-4 col-form-label">Date Added</label>
				<div class="col-sm-6">
					<input type="text" readonly id="dtadded" class="form-control" value="{{ patient.date_created }}">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="notes" class="col-sm-2 col-form-label">Notes</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control" id="notes" value="{{ patient.notes }}">
		</div>
	</div>

</form>
</div>
{% endblock %}