<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Simple is Better Than Complex</title>
</head>

{% block body %}
<h1>List of Patients</h1>
<table style="width: 100%">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> Severity </th>
		<th> Delete Record? </th>
	</tr>
	{% for patient in patients %}
		<tr>
			<td> {{ patient.barcode_id }} </td> 
			<td> <a href="{% url 'info' patient.barcode_id %}">{{ patient.last_name }}, {{ patient.first_name }}</a> </td>
			<td> {{ patient.severity }} </td>
			<td> <form action="{% url 'del_item' patient.barcode_id %}" method="post"> <input type="submit" value="Delete" /> {% csrf_token %} </form>
		</form>
		</tr>
	{% endfor %}
</table>>
{% endblock %}
